@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply the background and font styles */
body {
  @apply bg-background text-primary font-title;
}
